scripts/downloaded_validation_script.sh
validation_results/**
fhirpkg.lock.json
package-lock.json
scripts/validation_script-config.yaml
Resources/fsh-generated/fsh-index.txt
Resources/fsh-generated/fsh-index.json
dependency_graph.png
val_Bundle-1f311c40-fee9-4b03-b0c4-c29d432f2371-result.html
val_Bundle-4a270af6-nneu-ohne-kvnr-dfe20acfb5c5-result.html
val_Bundle-9b6ac30d-246d-4eab-af83-54456479208u-result.html
val_Bundle-9b6ac30d-246d-4eab-af83-544564792089-result.html
val_Bundle-43bb7e49-inva-lide-pati-entstrassed6b-result.html
val_Bundle-96120812-a785-4fe3-a1e9-244314fdad9d-result.html
val_Bundle-cecef81d-ab68-4d5a-9e22-7b3e8edce6e6-result.html
val_Bundle-cef4c975-753e-4b25-bec3-6549c7360e0a-result.html
val_Bundle-eeb-anfrage-v2-result.html
val_Bundle-eeb-anfrage-v2-result.json.html
val_Bundle-eeb-anfrage-v2.html
val_Bundle-eeb-bescheinigung-v2-result.html
val_Bundle-eeb-bescheinigung-v2.html
val_CodeSystem-EEBErrorcodeCS-result.html
val_CodeSystem-EEBVersionCS-result.html
val_Coverage-e9553161ca3c-413a-48fe-b908-04159be709fb-result.html
val_OperationOutcome-3f624395-be34-4fac-9773-d735cb3a1f73-result.html
val_OperationOutcome-bbd0690c-6939-4c90-979c-9ab9b1ed1552-result.html
val_Patient-437f2555-2396-4c64-a656-e9553161ca3c-result.html
val_Patient-437f2555-2396-4c64-a656-e9553161ca3u-result.html
val_Patient-4149fdf9-2417-4a58-ac02-3473f5eb5431-result.html
val_Patient-b8f0f69c-af1a-480b-8abf-44ab11aa23c5-result.html
val_Patient-d62d9d82-2396-4c64-a656-2e67b5761523-result.html
val_StructureDefinition-allgemeine-versicherungsdaten-result.html
val_StructureDefinition-eeb-operation-outcome-issue-identifier-result.html
val_StructureDefinition-EEBAnfrageBundle-result.html
val_StructureDefinition-EEBAnfrageHeader-result.html
val_StructureDefinition-EEBBescheinigungBundle-result.html
val_StructureDefinition-EEBBescheinigungHeader-result.html
val_StructureDefinition-EEBCoverageEgk-result.html
val_StructureDefinition-EEBCoverageEgkNoAddressLine-result.html
val_StructureDefinition-EEBCoverageNoEgk-result.html
val_StructureDefinition-EEBCoverageVSDM-result.html
val_StructureDefinition-EEBFehler-result.html
val_StructureDefinition-EEBKnownPatient-result.html
val_StructureDefinition-einverstaendnis-result.html
val_StructureDefinition-geschuetzte-versichertendaten-result.html
val_StructureDefinition-institutionskennzeichen-result.html
val_StructureDefinition-KVNRinClearing-result.html
val_StructureDefinition-leistungsdatum-result.html
val_StructureDefinition-noaddressline-result.html
val_StructureDefinition-persoenliche-versichertendaten-result.html
val_StructureDefinition-servicePeriod-result.html
val_StructureDefinition-versioneeb-result.html
val_ValueSet-EEBAnfrageUrsprungVS-result.html
val_ValueSet-EEBErrorcodeVS-result.html
val_ValueSet-EEBVersionVS-result.html
zz_make copy.bat
zz_make.bat
val_StructureDefinition-EEBPatient-result.html
